{% extends 'layout.html' %}
{% load static %}
{% load i18n %}

{% block content %}  

<section class="section-frame mx-xxl-11 overflow-hidden">
  <div class="wrapper image-wrapper bg-image bg-cover bg-overlay bg-overlay-light-100"  data-image-src="{% static 'assets/img/photos/bgteam1.webp' %}">
    <div class="container py-16 py-md-18 text-center position-relative">
      
      <div class="row">
        <div class="col-lg-9 col-xxl-8 mx-auto">
          <br><br><br><br>
          <h1 class="display-1 fs-70 px-md-10 px-lg-0 px-xl-8 mb-5 text-white"> <span class="typer text-gray" 
            data-loop="false" 
            data-delay="100" 
            data-words="Dawa Mkononi.">
      </span><span class="cursor text-white" data-owner="typer"></span></h1>
          <br><br>
          <a href="#impact" class="btn btn-lg btn-primary btn-icon btn-icon-end">Our Impact <i class="uil uil-arrow-up-right"></i></a>
        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.wrapper -->
</section>


   <!-- /section -->
<section class="wrapper bg-light">
    <div class="container py-14 py-md-15">
        <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
            <div class="col-md-8 col-lg-6 col-xl-5 order-lg-2 position-relative" data-cue="slideInUp">
                    <figure class="rounded"><img src="{% static 'assets/img/photos/bg2.webp' %}" alt="Daktari Mkononi Pharmacy Dawa Mkononi App About Us Photo"></figure>
            </div>
            <!--/column -->
            <div class="col-lg-6">
                <h2 class="fs-16 text-uppercase text-primary mb-3">{% trans 'Who We Are' %}</h2>
                <p class="lead">{% trans "Dawa Mkononi is focused on using innovation to improve the supply chain. Dawa Mkononi's operations mainly target pharmacies, health facilities, and other registered B2B clients. With its data-driven approaches, we have a mission of improving access to medicine distribution and making medicines more available to health facilities." %} </p>
                <p class="mb-6">{% trans 'Dawa Mkononi is a product of DMRX Inc., a United States of America-based Company. DMRX Inc. is the holding company of DMRX Company Limited, a company incorporated in Tanzania.' %}</p>

            </div>
            <!--/column -->
        </div>
        <!--/.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /section -->

<section class="wrapper bg-light">
  <div class="container py-2 py-md-5">
    <div class="row gx-lg-8 gx-xl-12 gy-6 mb-2 mb-md-5" data-cues="slideInLeft" data-group="images">
      <div class="col-1"></div>
      <div class="col-lg-5">
        <div class="d-flex flex-row">
          <div>
            <img src="{% static 'assets/img/icons/solid/lamp.svg' %}" class="svg-inject icon-svg solid text-primary icon-svg-sm me-5" alt="" />
          </div>
          <div>
            <h4 class="fs-20 ls-sm">{% trans 'Our Vision' %}</h4>
            <p class="mb-2">{% trans 'To lead pharmaceutical innovation in Africa, making quality medicines more accessible to all.' %}</p>
          </div>
        </div>
      </div>
      <!--/column -->
      <div class="col-lg-5">
        <div class="d-flex flex-row">
          <div>
            <img src="{% static 'assets/img/icons/solid/target.svg' %}" class="svg-inject icon-svg solid text-primary icon-svg-sm me-5" alt="" />
          </div>
          <div>
            <h4 class="fs-20 ls-sm">{% trans 'Our Mission' %}</h4>
            <p class="mb-2">{% trans 'To improve access and availability of medicines in African communities.' %}</p>
          </div>
        </div>
      </div>
      <!--/column -->
      <div class="col-1"></div>
     
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->


<section class="wrapper image-wrapper bg-auto no-overlay bg-image text-center bg-map" data-image-src="{% static 'assets/img/map.png' %}">
  <div class="container py-16 pt-md-16 pb-md-18">
    <div class="row pt-md-12">
      <div class="col-lg-10 col-xl-9 col-xxl-8 mx-auto">
        <h2 class="fs-15 text-uppercase text-primary mb-3">{% trans 'Our Impact' %}</h2>
        <h4 class="display-4 mb-8 px-lg-12">{% trans 'Improving Access to Medicines in Africa' %}</h4>
      </div>
      <!-- /.row -->
    </div>
    <!-- /column -->
    <div class="row pb-md-12">
      <div class="col-md-10 col-lg-9 col-xl-7 mx-auto">
        <div class="row align-items-center counter-wrapper gy-4 gy-md-0">
          <div class="col-md-4 text-center">
            <h3 class="counter counter-lg text-primary">500,000+</h3>
            <p>{% trans 'Patients Served' %}</p>
          </div>
          <!--/column -->
          <div class="col-md-4 text-center">
            <h3 class="counter counter-lg text-primary">1000+</h3>
            <p>{% trans 'Pharmacies Reached' %}</p>
          </div>
          <!--/column -->
          <div class="col-md-4 text-center">
            <h3 class="counter counter-lg text-primary">$4M+</h3>
            <p>{% trans 'Credit Financing Provided' %}</p>
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->



 


{% endblock content %}