{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}  
<section class="section-frame br-fix overflow-hidden">
    <div class="wrapper image-wrapper bg-cover bg-image bg-overlay bg-overlay-500" data-image-src="{% static 'assets/img/photos/bg1.webp' %}">
      <div class="container pt-18 pt-lg-21 pb-17 pb-lg-19 text-center">
        <div class="row">
          <div class="col-md-9 col-lg-8 col-xl-7 col-xxl-6 mx-auto" data-cues="zoomIn" data-group="page-title" data-interval="-200" data-delay="500">
            <h2 class="h6 text-uppercase ls-xl text-white mb-5">Dawa Mkononi</h2>
            <h3 class="display-1 fs-54 text-white mb-7">{% trans "Improving Access to Medicines in Africa" %}</h3>
            <a href="{% static 'assets/media/md.mp4' %}" class="btn btn-circle btn-primary btn-play ripple mx-auto" data-glightbox><i class="icn-caret-right"></i></a>
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
      <div class="overflow-hidden">
        <div class="divider text-white mx-n2">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 60">
            <path fill="currentColor" d="M0,0V60H1440V0A5771,5771,0,0,1,0,0Z" />
          </svg>
        </div>
      </div>
      <!-- /.overflow-hidden -->
    </div>
    <!-- /.wrapper -->
  </section>
  <!-- /header -->


 
  <section class="wrapper bg-light">
    <div class="container py-15 py-md-15">
      <div class="row gy-10 gy-sm-13 gx-lg-3 align-items-center mb-14 mb-md-18">
        <div class="col-md-8 col-lg-6 position-relative">
          
          <div class="shape rounded bg-soft-primary rellax d-md-block" data-rellax-speed="0" style="bottom: -1.8rem; right: -1.5rem; width: 85%; height: 90%; "></div>
          <figure class="rounded"><img src="{% static 'assets/img/photos/home.png' %}" data-cue="zoomIn" alt=""></figure>
        </div>
        <!--/column -->
        <div class="col-lg-5 col-xl-4 offset-lg-1">
          <h2 class="fs-16 text-uppercase text-primary mb-3">{% trans "DID YOU KNOW?" %}</h2>
          <p class="lead fs-lg mb-6">{% trans "Health facilities struggle with working capital, causing stockouts and compromising care" %}.</p>
          <ul class="progress-list">
            <li>
              <p>{% trans 'Health facilities face stock outs on essential drugs' %}</p>
              <div class="progressbar line primary" data-value="43"></div>
            </li>
            <li>
              <p>{% trans 'Loans given to HCF, in Tanzania' %}</p>
              <div class="progressbar line primary" data-value="1"></div>
            </li>
           
            <li>
          </ul>
          <!-- /.progress-list -->
        </div>
        <!--/column -->
      </div>
      <!--/.row -->
    </div>
  </section>

  <!-- /section -->

  
  <section class="wrapper bg-soft-primary">
    <div class="container py-10 py-md-15">
      <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
        <div class="col-lg-1"></div>
        <div class="col-lg-5" data-cues="slideInUp" data-group="images">            
          <h3 class="display-5 mb-7 pe-xxl-5">{% trans 'Our Approach to Improving Healthcare Supply Chains' %}</h3>
          <div class="d-flex flex-row mb-2">
            <div>
              <img src="{% static 'assets/img/icons/solid/currency.svg' %}"  class="svg-inject icon-svg icon-svg-sm solid text-primary me-4" alt="" />
            </div>
            <div>
              <h4 class="mb-1">{% trans 'Credit Financing' %}</h4>
              <p class="mb-1">{% trans 'Helping healthcare providers manage cash flow efficiently.' %}</p>
            
            </div>
          </div>
          <div class="d-flex flex-row mb-4">
            <div>
              <img src="{% static 'assets/img/icons/solid/push-cart.svg' %}" class="svg-inject icon-svg icon-svg-sm solid text-primary me-4" alt="" />
            </div>
            <div>
              <h4 class="mb-1">{% trans 'Extensive Product Range' %}</h4>
              <p class="mb-1">{% trans 'Access to high-quality, authentic medications.' %}</p>
            </div>
          </div>
          <div class="d-flex flex-row mb-4">
            <div>
              <img src="{% static 'assets/img/icons/solid/bar-chart.svg' %}" class="svg-inject icon-svg icon-svg-sm solid text-primary me-4" alt="" />
            </div>
            <div>
              <h4 class="mb-1">{% trans 'Data-Driven Ordering' %}</h4>
              <p class="mb-0">{% trans 'Simplifying procurement with intelligent insights.' %}</p>
            </div>
          </div>
          <div class="d-flex flex-row mb-4">
            <div>
              <img src="{% static 'assets/img/icons/solid/shipment.svg' %}" class="svg-inject icon-svg icon-svg-sm solid text-primary me-4" alt="" />
            </div>
            <div>
              <h4 class="mb-1">{% trans 'On-time Delivery' %}</h4>
              <p class="mb-0">{% trans 'Timely distribution to avoid stockouts.' %}</p>
            </div>
          </div>
          <div class="d-flex flex-row">
            <div>
              <img src="{% static 'assets/img/icons/solid/secure.svg' %}" class="svg-inject icon-svg icon-svg-sm solid text-primary me-4" alt="" />
            </div>
            <div>
              <h4 class="mb-1">{% trans 'Authentic Products' %}</h4>
              <p class="mb-0">{% trans 'Reducing the risk of counterfeit medicines.' %}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <figure><img class="w-auto" src="{% static 'assets/img/photos/home.png' %}"  alt="" /></figure>
        </div>
        <div class="col-lg-1"></div>
        <!--/column -->
        
        <!--/column -->
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /section -->

  <section class="wrapper bg-light">
    <div class="container pt-2 pt-md-3">
  
      <!--/.card -->
      <div class="row gx-0 gy-10 gy-md-13 gy-lg-0 mb-16 mb-md-18 align-items-center">
        <div class="col-lg-6 position-relative">
          <div class="p-9 pe-0 p-xxl-11 pe-xxl-0">
            <div class="shape bg-gray position-absolute d-block" style="top: 0; left: 0; width: 89%; height: 100%; z-index:0"></div>
            <figure class="position-relative"><img src="{% static 'assets/img/photos/bg2.webp' %}"  alt="" /></figure>
            <div class="card shadow-lg position-absolute d-none d-md-block" style="top: 15%; right: -7%">
              <div class="card-body py-4 px-5">
                <div class="d-flex flex-row align-items-center">
                  <div>
                    <div class="svg-bg bg-pale-primary rounded-circle me-3"><img src="{% static 'assets/img/icons/solid/target.svg' %}" class="svg-inject icon-svg icon-svg-sm solid-mono text-primary" alt="" /></div>
                  </div>
                  <div>
                    <h3 class="fs-25 counter mb-0 text-nowrap">8%</h3>
                    <p class="fs-16 lh-sm mb-0 text-nowrap">{% trans 'Gross Margin:' %}</p>
                    <p class="fs-16 lh-sm mb-0 text-nowrap">{% trans 'Warehouse Partership' %}</p>
                  </div>
                </div>
              </div>
              <!--/.card-body -->
            </div>
            <!--/.card -->
            <div class="card shadow-lg position-absolute text-center d-none d-md-block" style="bottom: 15%; right: -7%;">
              <div class="card-body p-6">
                <div class="progressbar semi-circle primary mb-3" data-value="10" style="width: 7rem; height: 4rem;"></div>
                <p class="fs-16 lh-sm mb-0 text-nowrap">{% trans 'Gross Margin: In house inventory' %}</p>
                  
              </div>
              <!--/.card-body -->
            </div>
            <!--/.card -->
          </div>
        </div>
        <!--/column -->
        <div class="col-lg-5 ms-auto" data-cues="slideInUp" data-group="images" data-delay="1000" >
          <h2 class="fs-16 text-uppercase text-primary mb-3">{% trans 'How We Operate?' %}</h2>
          <h2 class="display-2 mb-7">B2B</h2>
          <div class="d-flex flex-row pe-xxl-15 mb-6">
            <div>
              <img src="{% static 'assets/img/icons/solid/building.svg' %}" class="svg-inject icon-svg icon-svg-sm solid-mono text-primary me-4" alt="" />
            </div>
            <div>
              <h4 class="mb-1">{% trans 'Manufacturing & Importers' %}</h4>
              <p class="mb-0">{% trans 'We source quality products directly from manufacturers and importers.' %}</p>             
            </div>
          </div>
          <div class="d-flex flex-row pe-xxl-15 mb-6">
            <div>
              <img src="{% static 'assets/img/favicon1.png' %}" class="svg-inject icon-svg icon-svg-sm solid-mono text-primary me-4" alt="" />
            </div>
            <div>
              <h4 class="mb-1">{% trans 'Fulfillment, Data Processing & Credit Scoring' %}</h4>
              <p class="mb-0">{% trans 'We manage orders, process data, and provide credit scoring for retailer financing.' %}</p>                
            </div>
          </div>
          <div class="d-flex flex-row pe-xxl-15 mb-6">
            <div>
              <img src="{% static 'assets/img/icons/solid/currency.svg' %}" class="svg-inject icon-svg icon-svg-sm solid-mono text-primary me-4" alt="" />
            </div>
            <div>
              <h4 class="mb-1">{% trans 'Stock Financing' %}</h4>
              <p class="mb-0">{% trans 'We offer flexible financing options to help retailers maintain stock.' %}</p>              
            </div>
          </div>
          <div class="d-flex flex-row pe-xxl-15 mb-6">
            <div>
              <img src="{% static 'assets/img/icons/solid/supermarket.svg' %}" class="svg-inject icon-svg icon-svg-sm solid-mono text-primary me-4" alt="" />
            </div>
            <div>
              <h4 class="mb-1">{% trans 'Retailer Distribution' %}</h4>
              <p class="mb-0">{% trans 'We distribute products to pharmacies, hospitals, clinics, and other healthcare facilities.' %}</p>     
            </div>
          </div>
        </div>
        <!--/column -->
      </div>
      <!-- /.row -->
    
    
    </div>
    <!--/.container -->
  </section>
  <!-- /section -->

  <section class="wrapper bg-soft-primary">
    <div class="container py-1 pt-md-12 pb-md-1">
      <div class="row gx-md-8 gx-xl-12 gy-10 mb-14 mb-md-10 align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="card shadow-lg me-lg-6" data-cue="slideInUp" data-interval="-200">
            <div class="card-body p-6">
              <div class="d-flex flex-row">
                <div>
                <div class="svg-bg svg-bg-sm bg-pale-pink rounded-xl me-5"><img src="{% static 'assets/img/icons/solid/push-cart.svg' %}" class="svg-inject icon-svg solid text-red-black" alt="" /></div>
                </div>
                <div>
                  <h4 class="mb-1">{% trans 'Reduced Stockouts' %}</h4>
                  <p class="mb-0">{% trans 'Health facilities now have consistent access to essential drugs, improving patient outcomesReduced Stockouts.' %} </p>
                </div>
              </div>
            </div>
            <!--/.card-body -->
          </div>
          <!--/.card -->
          <div class="card shadow-lg ms-lg-13 mt-6" data-cue="slideInUp" data-interval="1000">
            <div class="card-body p-6">
              <div class="d-flex flex-row">
                <div>
                    <div class="svg-bg svg-bg-sm bg-pale-pink rounded-xl me-5"><img src="{% static 'assets/img/icons/solid/coin-decrease.svg' %}" class="svg-inject icon-svg solid text-red-black" alt="" /></div>
                </div>
                <div>
                  <h4 class="mb-1">{% trans 'Improved Cash Flow' %}</h4>
                  <p class="mb-0">{% trans 'Improved HFs economic state by cutting down costs' %} </p>
                </div>
              </div>
            </div>
            <!--/.card-body -->
          </div>
          <!--/.card -->
          <div class="card shadow-lg mx-lg-6 mt-6" data-cue="slideInUp" data-interval="-0.2">
            <div class="card-body p-6">
              <div class="d-flex flex-row">
                <div>
                    <div class="svg-bg svg-bg-sm bg-pale-pink rounded-xl me-5"><img src="{% static 'assets/img/icons/solid/bar-chart-2.svg' %}" class="svg-inject icon-svg solid text-red-black" alt="" /></div>
                </div>
                <div>
                  <h4 class="mb-1">{% trans 'Fewer Counterfeits' %}</h4>
                  <p class="mb-0">{% trans 'Our focus on authentic products has drastically lowered the circulation of counterfeit medications.' %}</p>
                </div>
              </div>
            </div>
            <!--/.card-body -->
          </div>
          <!--/.card -->
        </div>
        <!--/column -->
        <div class="col-lg-6">
          <h2 class="fs-16 text-uppercase text-primary mb-3">{% trans 'Outcomes' %}</h2>
          <h3 class="display-2 mb-5">{% trans 'Our innovations drive measurable impact' %}</h3>
          <p>{% trans 'Dawa Mkononi revolutionizes medicine distribution, ensuring availability, boosting cash flow, cutting costs, and improving healthcare access.' %}</p>
          
        </div>
        <!--/column -->
      </div>
      <!--/.row -->
</section>

<section class="wrapper image-wrapper bg-auto no-overlay bg-image text-center bg-map" data-image-src="{% static 'assets/img/map.png' %}">
  <div class="container py-14 pt-md-16 pb-md-18">
    <div class="row pt-md-12">
      <div class="col-lg-10 col-xl-9 col-xxl-8 mx-auto">
        <h2 class="fs-15 text-uppercase text-primary mb-3">{% trans 'Our Impact' %}</h2>
        <h4 class="display-4 mb-8 px-lg-12">{% trans 'Improving Access to Medicines in Africa' %}</h4>
      </div>
      <!-- /.row -->
    </div>
    <!-- /column -->
    <div class="row pb-md-12">
      <div class="col-md-10 col-lg-9 col-xl-7 mx-auto">
        <div class="row align-items-center counter-wrapper gy-4 gy-md-0">
          <div class="col-md-4 text-center">
            <h3 class="counter counter-lg text-primary">300,000+</h3>
            <p>{% trans 'Patients Served by 2024' %}</p>
          </div>
          <!--/column -->
          <div class="col-md-4 text-center">
            <h3 class="counter counter-lg text-primary">1000+</h3>
            <p>{% trans 'Health Facilities Reached' %}</p>
          </div>
          <!--/column -->
          <div class="col-md-4 text-center">
            <h3 class="counter counter-lg text-primary">$4M+</h3>
            <p>{% trans 'Credit Financing Provided' %}</p>
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->
  
  
  <section class="wrapper bg-light">
    <div class="container py-10 py-md-15">
      <div class="row text-center">
        <div class="col-md-11 col-lg-9 col-xl-8 col-xxl-7 mx-auto position-relative">          
         
        
          <h3 class="display-3 mb-12 text-center">{% trans 'Our Dawa Mkononi app empowers healthcare providers' %} </h3>
        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->
      <div class="row d-flex align-items-start mb-1">
        <div class="col-lg-6 position-lg-sticky" style="top: 8rem;">
          <figure><img src="{% static 'assets/img/photos/devices5.png' %}" alt=""></figure>
        </div>
        <!-- /column -->
        <div class="col-lg-5 ms-auto">
          <div class="d-flex flex-row mb-8">
            <div>
              <div class="svg-bg svg-bg-lg  bg-pale-pink rounded-xl me-5"><img src="{% static 'assets/img/icons/solid/layers.svg' %}" class="svg-inject icon-svg solid text-red-black" alt="" /></div>
            </div>
            <div>
              <h4 class="fs-20">{% trans 'Stock List' %}</h4>
              <p>{% trans 'Digitize your stock process,by having a virtual paper for your convenience' %}.</p>
            </div>
          </div>
          <div class="d-flex flex-row mb-8">
            <div>
              <div class="svg-bg svg-bg-lg bg-pale-pink rounded-xl me-5"><img src="{% static 'assets/img/icons/solid/currency.svg' %}" class="svg-inject icon-svg solid text-red-black" alt="" /></div>
            </div>
            <div>
              <h4 class="fs-20">{% trans 'Reorder' %}</h4>
              <p>{% trans 'Hustle free reordering of medications from your previous orders' %}.</p>
            </div>
          </div>
          <div class="d-flex flex-row mb-8">
            <div>
              <div class="svg-bg svg-bg-lg  bg-pale-pink rounded-xl me-5"><img src="{% static 'assets/img/icons/solid/server.svg' %}" class="svg-inject icon-svg solid text-red-black" alt="" /></div>
            </div>
            <div>
              <h4 class="fs-20">{% trans 'Payment' %}</h4>
              <p>{% trans 'Pay instantly and securely using Selcom Pay during checkout' %}.</p>
            </div>
          </div>
          <div class="d-flex flex-row mb-8">
            <div>
              <div class="svg-bg svg-bg-lg  bg-pale-pink rounded-xl me-5"><img src="{% static 'assets/img/icons/solid/shipment.svg' %}" class="svg-inject icon-svg solid text-red-black" alt="" /></div>
            </div>
            <div>
              <h4 class="fs-20">{% trans 'Delivery' %}</h4>
              <p>{% trans 'We provide fast and reliable deliveries to your facility' %}.</p>
            </div>
          </div>
          <div class="d-flex flex-row mb-8">
            <div>
              <div class="svg-bg svg-bg-lg  bg-pale-pink rounded-xl me-5"><img src="{% static 'assets/img/icons/solid/shopping-cart.svg' %}" class="svg-inject icon-svg solid text-red-black" alt="" /></div>
            </div>
            <div>
              <h4 class="fs-20">{% trans 'Orders' %}</h4>
              <p>{% trans 'Review your previous orders to help you manage your stock well' %}.</p>
            </div>
          </div>
          <div class="d-flex flex-row mb-8">
            <div>
              <div class="svg-bg svg-bg-lg  bg-pale-pink rounded-xl me-5"><img src="{% static 'assets/img/icons/solid/compare.svg' %}" class="svg-inject icon-svg solid text-red-black" alt="" /></div>
            </div>
            <div>
              <h4 class="fs-20">{% trans 'Categories' %}</h4>
              <p>{% trans 'Browse through different categories to easily find the medications.' %}</p>
            </div>
          </div>
        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->
     
    
      <!-- /.grid-view -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /section -->

  <section class="wrapper bg-light">
    <div class="container py-14 py-md-16">
      <p class="text-center mb-8">{% trans "Trusted by over 2K+ clients across Africa" %}</p>
      <div class="swiper-container clients mb-0" data-margin="30" data-dots="false" data-loop="true" data-autoplay="true" data-autoplaytime="1" data-drag="false" data-speed="5000" data-items-xxl="7" data-items-xl="6" data-items-lg="5" data-items-md="4" data-items-xs="2">
        <div class="swiper">
          <div class="swiper-wrapper ticker">
            <div class="swiper-slide px-5"><img src="{% static 'assets/img/brands/c1.png' %}" alt="" /></div>
            <div class="swiper-slide px-5"><img src="{% static 'assets/img/brands/c2.png' %}" alt="" /></div>
            <div class="swiper-slide px-5"><img src="{% static 'assets/img/brands/c3.png' %}" alt="" /></div>
            <div class="swiper-slide px-5"><img src="{% static 'assets/img/brands/c4.png' %}" alt="" /></div>
            <div class="swiper-slide px-5"><img src="{% static 'assets/img/brands/c5.png' %}" alt="" /></div>
            <div class="swiper-slide px-5"><img src="{% static 'assets/img/brands/c6.png' %}" alt="" /></div>
            <div class="swiper-slide px-5"><img src="{% static 'assets/img/brands/c7.png' %}" alt="" /></div>
            <div class="swiper-slide px-5"><img src="{% static 'assets/img/brands/c8.png' %}" alt="" /></div>
            <div class="swiper-slide px-5"><img src="{% static 'assets/img/brands/c9.png' %}" alt="" /></div>
            <div class="swiper-slide px-5"><img src="{% static 'assets/img/brands/c10.png' %}" alt="" /></div>
            <div class="swiper-slide px-5"><img src="{% static 'assets/img/brands/c11.png' %}" alt="" /></div>
          </div>
          <!--/.swiper-wrapper -->
        </div>
        <!-- /.swiper -->
      </div>
      <!-- /.swiper-container -->
    </div>
    <!-- /.container -->
  </section>
 




{% endblock content %}