{% extends 'layout.html' %}
{% load static %}
{% load i18n %}

{% block content %}  


<section class="section-frame mx-xxl-11 overflow-hidden">
  <div class="wrapper image-wrapper bg-image bg-cover bg-overlay bg-overlay-light-100" data-image-src="{% static 'assets/img/photos/bgteam1.webp' %}">
    <div class="container py-16 py-md-18 text-center position-relative">
      
      <div class="row">
        <div class="col-lg-9 col-xxl-8 mx-auto">
          <br><br><br><br> <br>
          <h1 class="display-1 fs-70 px-md-10 px-lg-0 px-xl-8 mb-5 text-white"> <span class="typer text-gray" 
            data-loop="false" 
            data-delay="100" 
            data-words="Our Team.">
      </span><span class="cursor text-white" data-owner="typer"></span></h1>
          <br><br><br>

        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.wrapper -->
</section>
   <!-- /section -->

   <section class="wrapper bg-light">
    <div class="container py-10 py-md-10">
      <div class="text-center justify-content-center">
        <ul class="nav nav-tabs nav-tabs-basic d-flex justify-content-center flex-nowrap">
          <li class="nav-item"> <a class="nav-link active" data-bs-toggle="tab" href="#tab3-1">{% trans 'Board of Directors' %}</a> </li>
          <li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#tab3-2">{% trans 'Management' %}</a> </li>
       
         </ul>
      <!-- /.nav-tabs -->
      </div>
      
    <div class="tab-content mt-0 mt-md-5">
      <div class="tab-pane fade show active" id="tab3-1">
        <div class="swiper-container text-center mb-6"  data-autoplay="true" data-loop="true"  data-margin="30" data-dots="true" data-items-xl="4" data-items-md="2" data-items-xs="1">
          <div class="swiper">
            <div class="swiper-wrapper">
              
              <div class="swiper-slide">
                <img class="rounded-circle w-20 mx-auto mb-4" src="{% static 'assets/img/avatars/te6.webp' %}"  alt="" />
                <h4 class="mb-1">Martin Warioba</h4>
                
              
              
              </div>
              <div class="swiper-slide">
                <img class="rounded-circle w-20 mx-auto mb-4" src="{% static 'assets/img/avatars/te1.webp' %}"  alt="" />
                <h4 class="mb-1">Joseph Paul</h4>
               
              
              
              </div>
              
              <!--/.swiper-slide -->
              <div class="swiper-slide">
                <img class="rounded-circle w-20 mx-auto mb-4" src="{% static 'assets/img/avatars/te2.webp' %}" alt="" />
                <h4 class="mb-1">Clemence Exaudi</h4>
                
              
              
              </div>
              <!--/.swiper-slide -->
              
              <div class="swiper-slide">
                <img class="rounded-circle w-20 mx-auto mb-4" src="{% static 'assets/img/avatars/te5.webp' %}"  alt="" />
                <h4 class="mb-1">Aurelie Ette</h4>
                               
              
              </div>
             
              
              
              </div>
              <!--/.swiper-slide -->
            </div>
            <!--/.swiper-wrapper -->
          </div>
          <!-- /.swiper -->
      </div>
      <!--/.tab-pane -->
      <div class="tab-pane fade show" id="tab3-2">
         <div class="swiper-container text-center mb-6"  data-autoplay="true" data-loop="true"  data-margin="30" data-dots="true" data-items-xl="4" data-items-md="2" data-items-xs="1">
          <div class="swiper">
            <div class="swiper-wrapper">
              
              <div class="swiper-slide">
                <img class="rounded-circle w-20 mx-auto mb-4" src="{% static 'assets/img/avatars/te1.webp' %}"  alt="" />
                <h4 class="mb-1">Joseph Paul</h4>
                <div class="meta mb-2">CEO</div>
              
              
              </div>
              <!--/.swiper-slide -->
              <div class="swiper-slide">
                <img class="rounded-circle w-20 mx-auto mb-4" src="{% static 'assets/img/avatars/te2.webp' %}"  alt="" />
                <h4 class="mb-1">Clemence Exaudi</h4>
                <div class="meta mb-2">COO</div>
              
              
              </div>
              <!--/.swiper-slide -->
              <div class="swiper-slide">
                <img class="rounded-circle w-20 mx-auto mb-4" src="{% static 'assets/img/avatars/te3.webp' %}"  alt="" />
                <h4 class="mb-1">Asorael Ayo</h4>
                <div class="meta mb-2">CTO</div>
              
              
              </div>
              <!--/.swiper-slide -->
              <div class="swiper-slide">
                <img class="rounded-circle w-20 mx-auto mb-4" src="{% static 'assets/img/avatars/te4.webp' %}"  alt="" />
                <h4 class="mb-1">Shamsa Ibrahim</h4>
                <div class="meta mb-2">CFO</div>                
              
              </div>
             
              
              
              </div>
              <!--/.swiper-slide -->
            </div>
            <!--/.swiper-wrapper -->
          </div>
          <!-- /.swiper -->
      </div>
      <!--/.tab-pane -->
      
    </div>
    <!-- /.tab-content -->
        <!--/column -->
    </div>
      <!--/.row -->
    
    <!-- /.container -->
   </section>

   <hr class="my-5" />

  

   <section class="wrapper bg-light">
    <div class="container py-10 py-md-10 mb-10">
      <p class="text-center mb-8">{% trans "Our Valued Investors" %}</p>
      <div class="row justify-content-center align-items-center gy-4" data-cues="fadeIn">
        <div class="col-6 col-md-3 col-lg-2 d-flex justify-content-center">
          <figure class="px-5 px-md-0 px-lg-2 px-xl-3 px-xxl-4"><img src="{% static 'assets/img/brands/1.png' %}" alt="" /></figure>
        </div>
        <!--/column -->
        <div class="col-6 col-md-3 col-lg-2 d-flex justify-content-center">
          <figure class="px-5 px-md-0 px-lg-2 px-xl-3 px-xxl-4"><img src="{% static 'assets/img/brands/2.png' %}" alt="" /></figure>
        </div>
        <!--/column -->
        <div class="col-6 col-md-3 col-lg-2 d-flex justify-content-center">
          <figure class="px-5 px-md-0 px-lg-2 px-xl-3 px-xxl-4"><img src="{% static 'assets/img/brands/3.png' %}" alt="" /></figure>
        </div>
        <!--/column -->
        <div class="col-6 col-md-3 col-lg-2 d-flex justify-content-center">
          <figure class="px-5 px-md-0 px-lg-2 px-xl-3 px-xxl-4"><img src="{% static 'assets/img/brands/4.png' %}" alt="" /></figure>
        </div>
        <!--/column -->
        <div class="col-6 col-md-3 col-lg-2 d-flex justify-content-center">
          <figure class="px-5 px-md-0 px-lg-2 px-xl-3 px-xxl-4"><img src="{% static 'assets/img/brands/5.png' %}" alt="" /></figure>
        </div>
        <!--/column -->
       
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
  </section>


{% endblock content %}